p {
    border: 2px solid red;
    padding: 5px; 
    margin: 30px 10px 20px 40px;
}
.group {
    border: 30px solid pink;
    padding: 5px;
    margin: 20px;
    background-color: rgb(133, 202, 236);
}