body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0f7fa, #f1f8e9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.title h2 {
    color: #f0a8d3;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 300px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

input[type="text"]:focus, select:focus {
    border-color: #c699bc;
    box-shadow: 0 0 6px rgba(238, 177, 211, 0.4);
}

.button-container {
    text-align: center;
}

input[type="button"] {
    background-color: #e6abd4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #ebbae6;
}
