h1 {
  font-size: 15px;       
  color: #222;             
  text-transform: uppercase;
  letter-spacing: 0px;      
  margin-bottom: 10px;      
  font-weight: bold;
}
h2 {
    font-size: 10px;        
  color: #222;             
  text-transform: uppercase;
  letter-spacing: 0px;      
  margin-top: 3px;      
  font-weight: bold;
  margin-block: 3px;
  font-style: normal;
}
h3 {
      font-size: 7px;         
  color: #222;             
  text-transform: uppercase;
  letter-spacing: 0px;      
  margin-top: 3px;      
  font-weight: bold;
  margin-block: 3px;
  font-style: normal;
}
p {
    font-size: 5px;
    margin-top: 0px;
    font-style:normal;
}
p1 {
    font-size: 10px;
    margin-top: 0px;
}
body {
    margin: 0;
    padding: 0;
    background: pink;
}
nav#menu ul {
list-style: none;
 background-color: black;
 text-align: center;
 padding: 0;
 margin: 0;
}
nav#menu li {
    font-size: 5px;
 line-height: 15 px;
 height: 20px;
 display: inline-block;
 padding: 2px;
}
nav#menu a {
 text-decoration: none;
 color: white;
 font-weight: bold;
}

.cv-header {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  border-bottom: 2px solid #ddd;
}

.cv-header img {
  width: 30px;
  border-radius: 10%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.cv-info h1 {
  margin: 0;
  color: #111;
}

.cv-info p {
  margin: 5px 0;
  color: #444;
}

.cv-info a {
  color: #0073b1;
  text-decoration: none;
}

.cv-info a:hover {
  text-decoration: underline;
}
