 .p { 
                color:rgb(175, 47, 68);
            }
            .h {
                color: rgb(27, 151, 83);
            }
    p.dac-biet {
        color:blue;
        font-weight: bold;
    }